@{
    ViewData["Title"] = "Cart";
    Layout = "_LayoutCart";
}


<div class="min-vh-100">
    <form method="post">

        <div id="cartDetailsContainer">
        </div>
    </form>
</div>

@section Scripts{

    <script src="/js/cart.js" asp-append-version="true"></script>

}

