<footer class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="col mb-3">
            <div class="d-none d-sm-block d-md-block">
                <h5>About Us</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">Our Company</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">Our Office</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">
                            Stories and
                            News
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">
                            Investor
                            Relations
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">
                            Customer
                            Service
                        </a>
                    </li>
                </ul>
            </div>
            <div class="d-block d-sm-none d-md-none">
                <button class="btn border-0 mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#aboutUsContent" aria-expanded="false" aria-controls="aboutUsContent">
                    <i class="fa-solid fa-chevron-down"></i> About Us
                </button>
                <div class="collapse" id="aboutUsContent">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">Our Company</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">Our Office</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">
                                Stories and
                                News
                            </a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">
                                Investor
                                Relations
                            </a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">
                                Customer
                                Service
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="d-none d-sm-block">
                <h5>Careers</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">
                            Culture and
                            Values
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">
                            Inclusion,
                            Diversity,
                            and Equity
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">
                            College
                            Achievement
                            Plan
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">
                            Alumni
                            Community
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">
                            International
                            Careers
                        </a>
                    </li>
                </ul>
            </div>
            <div class="d-block d-sm-none">
                <button class="btn border-0 mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#careersContent" aria-expanded="false" aria-controls="careersContent">
                    <i class="fa-solid fa-chevron-down"></i>Careers
                </button>
                <div class="collapse" id="careersContent">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">
                                Culture and
                                Values
                            </a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">
                                Inclusion,
                                Diversity,
                                and Equity
                            </a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">
                                College
                                Achievement
                                Plan
                            </a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">
                                Alumni
                                Community
                            </a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">
                                International
                                Careers
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col mb-3">
            <div class="d-none d-sm-block">
                <h5>Social Impact</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">People</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">Planet</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">
                            Envioronmental
                            and
                            Social Impact Reporting
                        </a>
                    </li>
                </ul>
            </div>
            <div class="d-block d-sm-none">
                <button class="btn border-0 mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#socialImpactContent" aria-expanded="false" aria-controls="socialImpactContent">
                    <i class="fa-solid fa-chevron-down"></i> Social Impact
                </button>
                <div class="collapse" id="socialImpactContent">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">People</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">Planet</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">
                                Envioronmental
                                and
                                Social Impact Reporting
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="d-none d-sm-block">
                <h5>For Business Partners</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">
                            Landlord Support
                            Center
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">Suppliers</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">
                            Corporate Gift
                            Card
                            Sale
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">
                            Office and Food
                            Service Coffee
                        </a>
                    </li>
                </ul>
            </div>
            <div class="d-block d-sm-none">
                <button class="btn border-0 mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#businessPartnersContent" aria-expanded="false" aria-controls="businessPartnersContent">
                    <i class="fa-solid fa-chevron-down"></i> For Business Partners
                </button>
                <div class="collapse" id="businessPartnersContent">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">
                                Landlord Support
                                Center
                            </a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">Suppliers</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">
                                Corporate Gift
                                Card
                                Sale
                            </a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">
                                Office and Food
                                Service Coffee
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="d-none d-sm-block">
                <h5>Order and Pick Up</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">
                            Order on the
                            App
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">
                            Order on the
                            Web
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">
                            Delivery
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">
                            Order and Pick Up
                            Option
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">
                            Explore and Find
                            Coffee for Home
                        </a>
                    </li>
                </ul>
            </div>


            <div class="d-block d-sm-none">
                <button class="btn border-0 mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#orderContent" aria-expanded="false" aria-controls="orderContent">
                    <i class="fa-solid fa-chevron-down"></i> Order and Pick Up
                </button>
                <div class="collapse" id="orderContent">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">
                                Order on the
                                App
                            </a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">
                                Order on the
                                Web
                            </a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">
                                Delivery
                            </a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">
                                Order and Pick Up
                                Option
                            </a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">
                                Explore and Find
                                Coffee for Home
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <br />

    <ul class="nav col-md-6 justify-content-start list-unstyled d-flex">
        <li class="ms-3">
            <a class="text-body-secondary" href="#">
                <i class="fa-brands fa-spotify fa-2x"></i>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-body-secondary" href="#">
                <i class="fa-brands fa-facebook fa-2x"></i>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-body-secondary" href="#">
                <i class="fa-brands fa-pinterest fa-2x"></i>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-body-secondary" href="#">
                <i class="fa-brands fa-square-instagram fa-2x"></i>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-body-secondary" href="#">
                <i class="fa-brands fa-youtube fa-2x"></i>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-body-secondary" href="#">
                <i class="fa-brands fa-square-twitter fa-2x"></i>
            </a>
        </li>
    </ul>
    <br />
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Privacy Notice</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Terms of Use</a></li>
        <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">
                Do not Share My Personal
                Information
            </a>
        </li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">CA Supply Chain Act</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Cookie Preference</a></li>
    </ul>
</footer>

