@using Microsoft.AspNetCore.Identity
@using StarbucksModels.DbModels

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav p-2">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link layout-link dropdown-toggle"  id="acoount-nav"
               data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
            <div class="dropdown-menu">
                <a id="manage" class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage</a>
                <a class="dropdown-item" asp-area="Customer" asp-controller="Menu" asp-action="OrderHistory">Order History</a>
            </div>
        </li>
        @*  <li class="nav-item">
    <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li> *@
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link">Logout</button>
            </form>
        </li>
    }
    else
    {
        
        <li class="nav-item py-2">
            <a class="btn btn-outline-primary py-1 text-capitalize rounded-5" id="login" asp-area="Identity" asp-page="/Account/Login">Sign In</a>
        </li>
        <li class="nav-item py-2">
            <a class="btn btn-primary py-1 text-capitalize rounded-5" id="register" asp-area="Identity" asp-page="/Account/Register">Join now</a>
        </li>
       


    }
</ul>
