
<div class="bottomStoreInfo bg-starbucks-green ">
    <div class="d-flex justify-content-center">
        <div class="p-3">
            <a asp-area="Customer" asp-action="StoreLocator" asp-controller="menu" class="text-decoration-none">
                <p class="text-white opacity-50 mb-0">For item availability</p>
                <p class="text-white mt-0 fw-bold" style="font-size:14pt">Choose a store</p>
            </a>
        </div>
        <div class="p-3">
            <a class="text-decoration-none" asp-area="Customer" asp-action="Cart" asp-controller="menu" id="cartBtn">
                <i class="fa-solid fa-bag-shopping shoppingCart"></i>
                <span class="shoppingCart" id="cartCount"></span>
           </a>
           
        </div>
    </div>
</div>