@model StarbucksModels.DbModels.Customization

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CustomizationNew</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomizationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomizationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomizationSubCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomizationSubCategory.CustomizationSubcategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CustomizationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
