@model StarbucksModels.DbModels.CustomizationModel

@{
    ViewData["Title"] = "CreateSubCustomizationType";
    Layout = "_LayoutAdmin";
}

<h1>Create SubCustomization Type</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSubCustomizationType">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomizationType" class="control-label"></label>
               <select asp-for="CustomizationType" asp-items="Model.CustomizationTypeDropDown" class="form-select">
                   <option value=""></option>
               </select>
                <span asp-validation-for="CustomizationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubCustomizationType" class="control-label"></label>
                <input asp-for="SubCustomizationType" class="form-control" />
                <span asp-validation-for="SubCustomizationType" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="Customization" class="control-label"></label>
                <input asp-for="Customization" class="form-control" />
                <span asp-validation-for="Customization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubCustomization" class="control-label"></label>
                <input asp-for="SubCustomization" class="form-control" />
                <span asp-validation-for="SubCustomization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qty" class="control-label"></label>
                <input asp-for="Qty" class="form-control" />
                <span asp-validation-for="Qty" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/customization.js"></script>
}
