@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-lg-6 d-flex align-items-center justify-content-center p-3" style="background-color:#76232f;">
            <div class="text-center col-lg-10 p-3">
                <h2 class="text-capitalize text-white">
                    Cheery gifts for all!
                </h2><br />
                <h4 class="text-white text-capitalize">Treat a friend, surprise a neighbor, or thank a teacher this holiday with a Starbucks eGift.</h4>
                <br />
                <a class="btn text-white border-white border-2 rounded-5 text-capitalize" href="#">Send an eGift</a>
            </div>
        </div>
        <div class="col-lg-6 px-0" style="background-color:#76232f">
            <div class="d-flex justify-content-center align-items-center">
                <img src="~/assets/images/137-87819.jpg" class="w-100" />
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-lg-6 px-0" style="background-color:#006241">
            <div class="d-flex justify-content-center align-items-center">
                <img src="~/assets/images/137-87802.jpg" class="w-100" />
            </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center justify-content-center p-3" style="background-color:#006241;">
            <div class="text-center col-lg-10 p-3">
                <h2 class="text-capitalize text-white">
                    Half off for the holidays
                </h2><br />
                <h4 class="text-white text-capitalize">
                    Feeling festive? Starbucks® Rewards members can get half off a drink on Thursday afternoons (12-6 PM) in December.*
                </h4>
                <br />
                <a asp-action="Login" asp-controller="Account" asp-area="Identity" class="btn text-white border-white border-2 rounded-5 text-capitalize py-1">
                    Join for Free
                </a>
            </div>
        </div>

    </div>

    <div class="row mb-4">

        <div class="col-lg-6 d-flex align-items-center justify-content-center p-3" style="background-color:#f0d0cb;">
            <div class="text-center col-lg-10 p-3">
                <h2 class="text-capitalize" style="color:#1e3932">
                    The game is on!
                </h2><br />
                <h4 class="text-capitalize">
                    There’s still time to play Starbucks for Life! This year we’re giving away over 10 million prizes.**
                </h4>
                <br />
                <a href="#" class="btn border-dark border-2 rounded-5 text-capitalize py-1">
                    Play now
                </a>
            </div>
        </div>
        <div class="col-lg-6 px-0" style="background-color:#f0d0cb">
            <div class="d-flex justify-content-center align-items-center">
                <img src="~/assets/images/137-87728.png" class="w-100" />
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-lg-6 px-0" style="background-color:#b37697">
            <div class="d-flex justify-content-center align-items-center">
                <img src="~/assets/images/137-87853.png" class="w-100" />
            </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center justify-content-center p-3" style="background-color:#006241;">
            <div class="text-center col-lg-10 p-3">
                <h2 class="text-capitalize text-white">
                    Cozy new chai
                </h2><br />
                <h4 class="text-white text-capitalize">
                    Today calls for a Gingerbread Oatmilk Chai with warming spices and the festive flavor of gingerbread.
                </h4>
                <br />
                <a asp-action="Index" asp-controller="Menu" asp-area="Customer" class="btn text-white border-white border-2 rounded-5 text-capitalize py-1">
                    Order Now
                </a>
            </div>
        </div>

    </div>

    <div class="row mb-4">

        <div class="col-lg-6 d-flex align-items-center justify-content-center p-3" style="background-color:#006241;">
            <div class="text-center col-lg-10 p-3">
                <h2 class="text-capitalize text-white">
                    Hooray for brulée
                </h2><br />
                <h4 class="text-white text-capitalize">
                    ’Tis the season for our Caramel Brulée Latte with a crunchy, caramelly topping.
                </h4>
                <br />
                <a asp-action="Index" asp-controller="Menu" asp-area="Customer" class="btn text-white border-white border-2 rounded-5 text-capitalize py-1">
                    Order Now
                </a>
            </div>
        </div>
        <div class="col-lg-6 px-0" style="background-color:#006241">
            <div class="d-flex justify-content-center align-items-center">
                <img src="~/assets/images/137-87858.jpg" class="w-100" />
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-lg-6 px-0" style="background-color:#dc0032">
            <div class="d-flex justify-content-center align-items-center">
                <img src="~/assets/images/137-87889.jpg" class="w-100" />
            </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center justify-content-center p-3" style="background-color:#dc0032;">
            <div class="text-center col-lg-10 p-3">
                <h2 class="text-capitalize text-white">
                    50% off select gifts*** for them and you
                </h2><br />
                <h4 class="text-white text-capitalize">
                    Stop by and save on festive coffee favorites, cold cups, tumblers and more. Now through Dec. 25.
                </h4>
                <br />
                <a asp-action="Index" asp-controller="Menu" asp-area="Customer" class="btn text-white border-white border-2 rounded-5 text-capitalize py-1">
                    Order Now
                </a>
            </div>
        </div>

    </div>

</div>
